.title {
    color: #000;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: -0.722px;
}

.btn {
    color: #fff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    background: #663131;
    border-radius: 25px;
    border: none;
    padding: 10px 15px;
    margin-bottom: 30px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.img-box__loader-content {
    color: #000;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: -0.722px;
}

.img-box__loader {
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
